Repository nakrovati/cutu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: enable nuxt devtools
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: disable moduleResolution:bundler
  nuxt.config.ts
Due: prettier --write, eslint --fix

chore: bump deps
  bun.lockb
  package.json
Due: prettier --write

refactor: change the short linkskeys case to camelCase
  components/URLShortener/URLShortenerInput.vue
  components/URLShortener/URLShortenerList.vue
  components/URLShortener/URLShortenerListItem.vue
  composables/useShortLink.ts
  composables/useShortLinks.ts
  pages/[shortPath].vue
  types/index.d.ts
Due: prettier --write, eslint --fix

refactor(utils): compareDates
  components/URLShortener/URLShortenerList.vue
  utils/compareDates.ts
Due: prettier --write, eslint --fix

refactor: url shortener component
  components/URLShortener/URLShortener.vue
  components/URLShortener/URLShortenerIntro.vue
  components/UrlForm.vue
  components/UrlList.vue
  components/UrlListItem.vue
  pages/index.vue
Due: prettier --write, eslint --fix

chore: pnpm missing in pre-commit hook
  .husky/pre-commit
Due: none

chore: use modern nuxt eslint config
  .eslintrc.json
  bun.lockb
  package.json
Due: prettier --write

refactor: make naming more compatible with the server
  components/UrlForm.vue
  components/UrlList.vue
  components/UrlListItem.vue
  composables/useShortLink.ts
  composables/useShortLinks.ts
  composables/useShortenedUrl.ts
  composables/useShortenedUrlsStorage.ts
  middleware/checkShortCode.ts
  pages/[shortPath].vue
  types/index.d.ts
Due: prettier --write, eslint --fix

chore(deps): bump husky and lint-staged
  .husky/pre-commit
  bun.lockb
  package.json
Due: prettier --write

chore(deps): move nuxt,vue,vue-router and valibot to dependencies
  package.json
Due: prettier --write

chore: simplify UrlList.vue props
  components/UrlList.vue
  components/UrlListItem.vue
Due: prettier --write, eslint --fix

refactor: improve the responsiveness of UrlListItem
  assets/icons/PhCopy.vue
  components/UrlListItem.vue
Due: prettier --write, eslint --fix

feat: add qr code display for shortened urls
  assets/icons/PhQrCode.vue
  assets/icons/PhX.vue
  bun.lockb
  components/UrlForm.vue
  components/UrlListItem.vue
  components/base/BaseDialog.vue
  nuxt.config.ts
  package.json
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: add QR code sharing capability
  components/UrlListItem.vue
  components/base/BaseDialog.vue
Due: prettier --write, eslint --fix

feat: make a button component
  bun.lockb
  components/UrlForm.vue
  components/UrlListItem.vue
  components/base/BaseButton.vue
  package.json
Due: prettier --write, eslint --fix

chore: remove tailwind-merge
  bun.lockb
  package.json
Due: prettier --write

feat: add color theme toggle
  assets/icons/PhMoon.vue
  assets/icons/PhSun.vue
  components/TheColorThemeToggle.vue
  components/base/BaseContainer.vue
  components/ui/TheHeader.vue
  layouts/default.vue
Due: prettier --write, eslint --fix

refactor: use index file to import icons
  assets/icons/index.ts
  components/TheColorThemeToggle.vue
  components/UrlForm.vue
  components/UrlListItem.vue
  components/base/BaseDialog.vue
  pages/[shortPath].vue
Due: prettier --write, eslint --fix

perf: skip checkShortCode middleware on client
  middleware/checkShortCode.ts
Due: prettier --write, eslint --fix

fix: header home link didn't work
  components/ui/TheHeader.vue
Due: prettier --write, eslint --fix

docs: add readme
  README.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,yml,yaml,json}) or (any of: *.{(c)js,ts,vue})
  eslint --fix: any of: *.{(c)js,ts,vue}
