Repository nakrovati/cutu-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: remove @savvywombat/tailwindcss-grid-areas
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Due: prettier --write

fix: request for a wrong route
  components/URLShortener/URLShortenerInput.vue
Due: prettier --write, eslint --fix

chore: remove comments
  pages/[shortPath].vue
Due: prettier --write, eslint --fix

style: update colors
  tailwind.config.js
Due: none

chore: remove default layout
  app.vue
  layouts/default.vue
  pages/index.vue
Due: prettier --write, eslint --fix

chore: not show URLShortenerList if no shortLinks
  components/URLShortener/URLShortenerList.vue
Due: prettier --write, eslint --fix

fix: finding the initial URL threw a 404 error
  middleware/checkShortUrl.ts
Due: prettier --write, eslint --fix

chore: make a prettier route /:{shortPath}
  assets/icons/PhLinkSimple.vue
  pages/[shortPath].vue
Due: prettier --write, eslint --fix

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: set moduleResolution 'bundler' in nuxt 3.3
  nuxt.config.ts
  tsconfig.json
Due: prettier --write, eslint --fix

feat: add a custom 'error' page
  app.vue
  error.vue
  layouts/default.vue
  middleware/checkShortUrl.ts
  pages/[shortPath].vue
  pages/index.vue
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: dateCreated date format
  components/URLShortener/URLShortenerInput.vue
Due: prettier --write, eslint --fix

chore: remove commented validate method
  pages/[shortPath].vue
Due: prettier --write, eslint --fix

feat: add dark theme
  app.vue
  components/URLShortener/URLShortenerInput.vue
  components/URLShortener/URLShortenerList.vue
  components/URLShortener/URLShortenerListItem.vue
  error.vue
  layouts/default.vue
  pages/[shortPath].vue
  tailwind.config.js
Due: prettier --write, eslint --fix

test: add husky pre-commit hook with lint-staged
  .husky/pre-commit
Due: none

chore: update .ignore files
  .eslintignore
  .gitignore
  .prettierignore
Due: none

style: fix text colors in dark mode
  components/URLShortener/URLShortenerInput.vue
  components/URLShortener/URLShortenerListItem.vue
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: add seo title for error.vue page
  error.vue
Due: prettier --write, eslint --fix

chore: correct grammatical error
  pages/index.vue
Due: prettier --write, eslint --fix

style: make the white text in the dark mode darker
  components/URLShortener/URLShortenerInput.vue
  components/URLShortener/URLShortenerListItem.vue
  error.vue
  pages/[shortPath].vue
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: add Intro section
  components/URLShortener/URLShortener.vue
  components/URLShortener/URLShortenerIntro.vue
Due: prettier --write, eslint --fix

chore, fix: bump nuxt to ^3.5.2
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci, fix: move @vueuse/nuxt to dev-deps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: pnpm lockfile downgrade to ^6.0
  pnpm-lock.yaml
Due: prettier --write

feat: add a spinner for the URL shortening button
  assets/icons/PhArrowsClockwise.vue
  components/URLShortener/URLShortenerInput.vue
  utils/urlValidator.ts
Due: prettier --write, eslint --fix

fix: eslint import/named error for .ts files
  .eslintrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add vercel web analytics
  nuxt.config.ts
  package.json
  plugins/vercel.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

chore: remove unnecessary nuxt imports from composables
  composables/useShortLink.ts
  composables/useShortLinks.ts
Due: prettier --write, eslint --fix

chore: add favicon
  public/favicon.ico
Due: none

fix: error when checking types from the .nuxt directory
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  server/tsconfig.json
  tsconfig.json
Due: prettier --write

refactor: replace zod with valibot
  package.json
  pnpm-lock.yaml
  utils/urlValidator.ts
Due: prettier --write, eslint --fix

chore: format
  components/URLShortener/URLShortenerList.vue
  middleware/checkShortUrl.ts
Due: prettier --write, eslint --fix

chore: bump deps
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: improve accessibility
  assets/css/tailwind.css
  components/URLShortener/URLShortenerInput.vue
  layouts/default.vue
  pages/[shortPath].vue
Due: prettier --write, eslint --fix

feat: move to bun & bump deps
  .npmrc
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: vercel analytics wasn't wrapped in defineNuxtPlugin
  nuxt.config.ts
  plugins/analytics.client.ts
Due: prettier --write, eslint --fix

remove: autoprefixer
  bun.lockb
  nuxt.config.ts
  package.json
Due: prettier --write, eslint --fix

refactor: color system
  app.vue
  assets/css/tailwind.css
  bun.lockb
  components/URLShortener/URLShortenerInput.vue
  components/URLShortener/URLShortenerIntro.vue
  components/URLShortener/URLShortenerList.vue
  components/URLShortener/URLShortenerListItem.vue
  error.vue
  nuxt.config.ts
  package.json
  pages/[shortPath].vue
  tailwind.config.js
Due: prettier --write, eslint --fix

chore: add vue and vue-router to devDeps
  bun.lockb
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,yml,yaml,json}) or (any of: *.{(c)js,ts,vue})
  eslint --fix: any of: *.{(c)js,ts,vue}
